* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/patt.png");
    /* background-repeat: no-repeat;
    background-position:100px 50px ; */
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row::after,.menu::after{
    content: "";
    display: block;
    clear: both;
}

.col-md-3 {
    width: 25%;
}

.col-md-6 {
    width: 50%;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.header{
    padding: 25px 0;
    background-color: rgba(255,255,255,0.75)

}
.menu li{
    width: 25%;
    float: left;
    border-left:1px solid #2c71b8 ;
}
.menu li:last-child{
    border-right: 1px solid #2c71b8;
}
.menu a{
    display: block;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    font-size: 21px;
    color: #2c71b8;
    font-weight: 300;
}
.menu a:hover, .dropdown-content a{
    background-color: #2c71b8;
    color: white;
}
.dropdown-content a{
    width: 286px;
    background-color: #2c71b8;
    color: white;
}
.dropdown-content a:hover{
    background-color:white ;
    color: #2c71b8;
}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 10;
    left: -1px;
}
.dropdown{
    display: block;
    position: relative;
}
.dropdown:hover .dropdown-content{
    display: block;
    background-color: #2c71b8;
}
.dropdown:hover >a{
    background-color: #2c71b8;
    color: white;
}
.col-md-9{
    width: 75%;
}
.form-search{
    height: 50px;
    width: 100%;
}
.form{
    border: 1px solid #2c71b8;
    height: 40px;
    position: absolute;
    width: 195px;
    top: 30px;
}
.input-changes{
   width: 80%;
   background: 0 none !important;
   outline: none !important;
   border: none;
   position: relative;
   font-size: 21px;
   height: 30px;
   color: #2c71b8;
   left: 5px;
   bottom: 3px;
   font-family: 'Roboto', sans-serif;
}
.search{
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 4px;
    top: 4px;
    background-image: url(./images/search.png);
    background-color: #2c71b8;
    /* left: 10px; */
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
::placeholder{
    color: #2c71b8;
    margin-right: 15px;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
}
.cart{
    background-image: url(./images/bin.png);
    background-color: white;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 5px;
}
.product-cart{
    width: 20px;
    height: 20px;
    border: 1px solid #2c71b8;
    border-radius: 50%;
    text-align: center;
    background-color: #2c71b8;
    color: white;
    line-height: 20px;
    font-size: 12px;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
#cart{
    width: 40px;
    height: 40px;
    display: block;
}
.filter{
    height: 850px;
    border-right: 1px solid white;
    cursor: pointer;
}
.col-md-12{
    width: 100%;
}
ul.breadcrumb {
    padding: 20px 0;
  }
.breadcrumb li {
    display: inline;
    font-size: 14px;
    color: #96b8dc;
  }
.breadcrumb li+li::before{
    padding: 8px;
    color: #96b8dc;
    content: ">";
  }
.breadcrumb li a {
    color: #96b8dc;
    text-decoration: none;
  }
  span{
      text-decoration: underline;
  }
  h1{
      font-size: 48px;
      color: white;
      padding-bottom: 50px;
  }
  .col-md-8{
      width: 66.6%;
  }
  .col-md-4{
      width: 33.3%;
  }
.dropdown-header a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
    border: 1px solid white;
}
.dropdown-content-header{
    position: absolute;
    display: none;
    width: 100%;
    z-index: 100;
}
.dropdown-header{
    position: relative;
    background-color: #2c71b8;
    font-size: 21px;
    top: 5px;
}
.dropdown-header:hover .dropdown-content-header{
    display: block;
}
.dropdown-menu a{
    width: 100%;
    background-color: #2c71b8;
    padding-left: 20px;
    height: 38px;
    line-height: 38px;
}
.dropdown-content-header a:hover{
    background-color: white;
    color: #2c71b8;
}
.product-images{
    background-color: #cdddee;
    border: 1px solid white;
    height: 180px;
    position: relative;
}
.image-device{
    /* width: 120px;
    height: 120px; */
    /* left: 80px;
    top: 45px; */
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 45px;
    bottom: 0;
    right: 0;
}
.zoom{
    background-image: url(./images/zoom-blue.png);
    border: 1px solid #2c71b8;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position:center ;
    position: absolute;
    left: 230px;
    top: 10px;
}
.zoom:hover{
    background-image: url(./images/zoom-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2c71b8;
}
.like{
    background-image: url(./images/like-blue.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    position: absolute;
    left: 230px;
    top: 50px;
}
.like:hover{
    background-image: url(./images/like-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2c71b8;
}
.products{
    height: 650px;
    border: 1px solid #cadbed;
    color: white;
    margin-bottom:25px ;
    position: relative;
}
.product-title{
    padding-bottom: 8px;
    font-size: 30px;
}
.product-description{
    font-size: 21px;
    padding-bottom: 8px;
}
.product-features{
    font-size: 21px;
    padding-bottom : 8px;
}
p{
    padding-bottom: 10px;
}
sup{
    font-size: 24px;
}
.product-price{
    font-size: 48px;
    text-align: center;
}
.product-body{
    padding-left:15px ;
    padding-top: 10px;
}
.btn{
    width: 210px;
    height: 50px;
    color: white;
    cursor: pointer;
    font-size: 21px;
}
.btn-more-detalis{
    position: absolute;
    background-color: #2c71b8;
    border: 1px solid white;
    bottom: 95px;
    left: 30px;
}
.btn-add-to-cart{
    position: absolute;
    background-color: #568dc6;
    bottom: 30px;
    left: 30px;
    border: none;
    background-image: url(./images/cart-white.png);
    background-position:right 15px top 15px;
    background-repeat: no-repeat;
}
.footer{
    background-color: #cadbed;
    height: 100px;
    font-size: 21px;
    text-align: center;
    line-height: 100px;
    color: #3577bb;
}
.filter{
    padding: 30px;
    font-size: 21px;
    color: white;
}
.divace-type{
    padding-bottom: 45px;
}
.color-divace{
    padding-bottom: 50px;
}
.ram-divace{
    padding-bottom: 20px;
}
.filter ul li{
    padding-bottom: 20px;
}
.show-option{
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}
.btn-submit{
    background-color: #2c71b8;
    border: 1px solid white;
}

